@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #f8fafc;
}

.box-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 18, 64, 0.04);
}

.box-shadow-2 {
  box-shadow: 0px 4px 12px 0px rgba(29, 13, 13, 0.04);
}

.banner a {
  top: 40%;
  left: 50%;
  transform: translate(-50%);
}

th,
td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

.underline-text-white {
  display: inline;
  background-image: linear-gradient(#fff, #fff);
  background-size: 100% 15px;
  background-repeat: no-repeat;
  background-position: left bottom;
}